@model List<LearnerProject.Models.Entities.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h3 class="mt-3">Referanslar</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-1 text-center">#</th>
            <th class="col-md-2">İsim Soyisim</th>
            <th class="col-md-3">Başlık</th>
            <th class="col-md-4">Görsel URL</th>
            <th class="col-md-2 text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th class="text-center">@count</th>
                <td>@item.NameSurname</td>
                <td>@item.Title</td>
                <td>@item.ImageUrl</td>

                <td class="text-center">
                    <a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    <a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-info"> <i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Testimonial/AddTestimonial/" class="btn btn-outline-success"><i class="fa fa-plus m-2"></i>Referans Ekle</a>